* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans MT';
}

body {
    background-color: #557a95;
    color: #ffff;
    overflow-x: hidden;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.estruct .Pila .Cola .Listas .ListaSDoble {
    width: 100%;
}

.head {
    display: flex;
    height: 10vh; 
    width: 100%;
    background-color: #5d5c61;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%; 
    margin-left: 150px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin: 20px;
}

.sidebar {
    margin: 0;
    padding: 15px;
    width: 14%;
    top: 0;
    position: fixed;
    height: 100%;
    overflow-y: none;
    overflow-x: auto;
    background: #3d5b71;
}

.sidebar ul li {
    margin: 0px;
}

.sidebar a{
    text-decoration: none;
    color: #C6C6C6;
    display: block;
    flex-wrap: wrap;
    
    padding: 16px;
}

.sidebar ul li a:hover {  
    color: #8bcfbb;
    transform: scale(1.05);
    margin-left: 0;
}

.global {
    margin-left: 15%; 
    padding: 5%;
    box-sizing: border-box;
    width: 80%;
}

.desventajas {
    background-color: #ffff;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
    color: #000000;
}

h2 {
    color: #70C7AE;
    font-size: 30px;
    margin-bottom: 10px;

}

h1 {
    text-align: center;
    margin: 10px;
    color: #70C7AE;
}
h4 {
    color: #70C7AE;
    font-size: 29px;
    margin: 20px;
}
h5 {
    color: #C6C6C6;
    font-size: 25px;

}

.codigo img {

    margin-top: 20px;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.pieP {

    background-color: #5d5c61;
    justify-content: space-between;
    text-align: center;
    margin-left: 100px;
    width: 100%;

}
.pieP a{
    text-decoration: none;
    color: aliceblue;
}

.pieP p{
    color: #70C7AE;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {

    .estruct .Pila .Cola .Listas .ListasDoble{
        width: 50%;
    }

    .head {
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .global {
        width: 100%;
        margin-left: 0;
    }

    .codigo img {
        max-width: 100%;
        height: auto;
    }

    .saludo {
        font-size: 20px;
    }

    .pieP {
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: 24px;
    }
    h2, h4, h5 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }

    .sidebar {
        width: 100%;
        position: relative;
        display: block;
        padding: 10px 0 10px 0;
    }
    .sidebar ul {
        display: none; 
    }
    .sidebar.active ul {
        display: block; 
    }

}


@media (min-width: 768px) and (max-width: 1024px) {
    
    .estruct .Pila .Cola .Listas .ListasDoble{
        width: 33.33%;
    }
    .sidebar {
        width: 20%;
    }
    .global {
        margin-left: 22%;
    }
    .head {
        padding: 0;
        margin: 0;
        flex-direction: column;
        height: auto;
    }
    .logo img {
        height: 45px;
    }
    h1 {
        font-size: 28px;
    }
    h2, h4, h5 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }
    .codigo img {
        max-width: 90%;
        margin: 0 auto;
    }
    .pieP {
        padding: 0;
        margin: 0;
        margin-left: 150px;
    }
}

    